version: "3.9"
services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
    environment:
      NODE_ENV: development

  mock-server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "2000:2000"
    restart: always


